    <table width="430" border="0" cellspacing="0" cellpadding="0">
<tbody>
            <tr>
                <td>
                    <hr style="width: 94%; line-height:20%; border: 0px; border-top: 4px solid #dd0303; color:#dd0303; margin: 0 0 15px 0;" />
                    <table border="0" cellspacing="0" cellpadding="0">
<tbody>
                            <tr>
                            <td style="width: 150px; vertical-align: top;"><img src="http://spicasolutions.home.pl/stopka/assets/img/logo.png" /></td>
                                <td style="padding-left:20px; color: #000; font-size: 10px; line-height: 10px; font-family: Arial; padding-top: 5px; width: 380px;">
                                                    <b><span style="font-size: 10px; line-height: 20px; letter-spacing: 1px; text-transform: uppercase;">{IMIE} {NAZWISKO}</span></b><br>
                <span style="line-height: 100%; letter-spacing: 1px; text-transform: uppercase;">{STANOWISKO}</span><br/><br/>

                <span style="line-height: 120%; font-size: 10px; color: #dd0303; text-transform: uppercase;"><b>TEL |</b></span> {NUMER}<br>					<span style="line-height: 120%; font-size: 10px; color: #dd0303; text-transform: uppercase;"><b>EMAIL |</b></span> <a href="mailto:przyklad@gmail.com" style="line-height: 120%; color: #000; font-size: 10px; text-decoration: none;">{MAIL}</a><br/>
                <span style="line-height: 120%; font-size: 10px; color: #dd0303; text-transform: uppercase;"><b>WEB |</b></span>  <a style="line-height: 120%; color: #000; font-size: 10px; text-decoration: none;" href="http://www.spicasolutions.pl">{STRONA}</a>
</td>
                                
</tr>
                        </tbody>
                    </table>
                </td>