<div class="window__content" style="padding: 15px 20px; background: #f4f5f5;">

	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;"><strong><span>{IMIE}</span></strong></p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;"><span><span>{STANOWISKO}</span></span></p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;">{TYTUL}</p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;">Telefon: <span>{NUMER}</span></p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;">
		Mail:
		<a href="mailto:kontakt@dmsales.com" target="_blank" rel="noopener noreferrer" style="text-decoration: none; color: #912bb3;">
			<span>{MAIL}</span>
		</a>
	</p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;"> </p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;">
		<a href="https://dmsales.com" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable" style="text-decoration: none; color: #912bb3;">
			<span>{STRONA}</span>
		</a>
	</p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;"> </p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;">
		<img class="logo" src="https://dmsales.com/app/themes/dmsales/assets/images/logo-black.svg" alt="LOGO" style="max-width: 150px; height: auto;">
	</p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;"> </p>
	<p style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;">
		<strong><span>{FIRMA}</span></strong>
	</p>
	<address style="font-size: 10pt; font-family: Verdana, sans-serif, serif, EmojiFont; margin: 0; line-height: 1.3; color: #333333;">
		<span>{ADRES}<br>{ADRES2}<br>{MAIL_FIRMA}<br>{NUMER_FIRMA}</span>
	</address>

</div>            